/* **************** GRIDS OOCSS ***************** */
.line:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.lastUnit:after {
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  visibility: hidden;
  clear: both;
  height: 0 !important;
  display: block;
  line-height: 0;
}
.line {
  *zoom: 1;
}
.unit {
  float: left;
}
.size1of1 {
  float: none;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.33333%;
}
.size2of3 {
  width: 66.66666%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
.size1of5 {
  width: 20%;
}
.size2of5 {
  width: 40%;
}
.size3of5 {
  width: 60%;
}
.size4of5 {
  width: 80%;
}
.lastUnit {
  display: table-cell;
  *display: block;
  *zoom: 1;
  float: none;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
  width: auto;
}
/* **************** GRIDS OOCSS ***************** */
/* ---------------- WIP generell ----------------- */
/* OOCSS og Bootrap twitter 					   */
/* ----------------------------------------------- */
/*Background color*/
/*Text color*/
html {
  background: #fafaf6;
}
body {
  color: #333333;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 0 auto;
}
.intro {
  color: #d63737;
  background-color: #2b2b2b;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  padding: 1.5em;
  min-height: 17em;
}
.intro h1 {
  font-size: 3em;
}
.intro h3 {
  margin-top: 1em;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5em;
  letter-spacing: .2em;
  max-width: 30em;
}
.plus-sign {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("http://utdanning.no/sites/all/themes/uno/images/plus-sign.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.infoPane {
  background-color: #edece9;
  border: 1px solid #EDECFA;
}
.infoEducation {
  background-color: #d7e6e9;
}
.mtl {
  margin-top: 15px;
}
.mtm {
  margin-top: 10px;
}
.pam {
  padding: 10px;
}
.line [class*="unit"]:first-child {
  padding-left: 0;
}
.line [class*="unit"] {
  padding-left: 15px;
}
/* -----------------WIP mobil responsiv ---------------- */
@media screen and (max-width: 48em) {
  /* -----------------WIP content ---------------- */
  .line [class*="unit"] {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  /* -----------------WIP menu ---------------- */
  .js-menu-open .wrapper {
    -webkit-transform: translate(10%, 0);
    -webkit-transform: translate3d(10%, 0, 0);
  }
  .page-head {
    background-color: #2b2b2b;
    border-bottom: 1px solid #464646;
    position: relative;
    min-height: 3em;
    max-width: 1310px;
    margin: 0 auto;
  }
  .page-head .nav-list li {
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #3b3b3b;
  }
  .page-head .nav-list li a {
    padding: .7em 1em .7em 1em;
    border-bottom: 1px solid #222;
    display: block;
    color: #a3a3a3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    letter-spacing: .2em;
  }
}
